@font-face {
    font-family: Gotham;
    src: url(GothamRoundedLight.otf);
}
@font-face{
font-family:Glyphicons Halflings;
src:url(glyphicons-halflings-regular.eot);
src:url(glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(glyphicons-halflings-regular.woff) format('woff'),url(glyphicons-halflings-regular.ttf) format('truetype'),url(/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
a {
    color: black;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Re-applies the controls on :hover and :focus
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}*/

a:hover, a:focus {
    color: black;
    text-decoration: none;
}

 .radio, .checkbox {
     margin-bottom: 10px;
     margin-top: 10px;
     padding: 0;
 }

.product-view small {
    color: black;
}
nav {
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

body {
    font-family: "Gotham", Arial, sans-serif !important;
    color: black;
}

#navbar {
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding-left: 25px;
    padding-right: 25px;
}

nav i {
    font-size: 25px;
    color:white;
    line-height: 40px;
}

nav li.last a {
    margin-right: 10px;
    padding-left: 5px;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: transparent;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
}

.navbar-form {
    margin-top: 8px;
    margin-bottom: 7px;
    padding-right: 0;
    padding-left: 10px;
}

.navbar-form input {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 5px;
}

#myCarousel .item {
    max-height: 450px;
}

.navbar-form i {
    position: relative;
    right: 25px;
    font-size: 14px;
}



.carousel-indicators {
    bottom: -30px;

}

.carousel-indicators li {
    border-color: black;
}

.carousel-indicators .active {
    background-color: black;
}

.product-carousel .carousel-control {
    padding-top:6%;
    width:5%;
    background-image: none !important;
    color: black;
}

.slider h5 {
    text-transform: uppercase;
    padding-left: 25px;
}

/* Dropdown menu*/

.popover-content li a {
    clear: both;
    color: white;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 0 10px;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
}

.popover {
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity=80);
    border: 0;
}

.popover.bottom > .arrow::after {
    border-bottom-color: black;
}

.popover-content .first-group a {
    padding: 10px;
}

nav .popover-content .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 15px;
    overflow: hidden;
}

#toggle-header {
    background-color: white;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#toggle-header > div {
    padding-left: 35px;
}

.carousel-control {
    background-image: none !important;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    background-color: white;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;
}

.btn:focus, .btn:hover {
    color: inherit;
}

/* Form */

.form-control {
    box-shadow: none;
    padding: 0;
    padding-left: 8px;
    transition: none;
    border-color: black;
    text-align: left;
}
/*
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
*/
.form-control:focus {
    border-color: black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(128, 128, 128, 0.6);
    outline: 0 none;
}

.form-control.select2-container {
    padding: 0;
}

.form-actions {
    text-align: center;
}

.select2-container .select2-choice {
    -moz-user-select: none;
    background-clip: padding-box;
    background-color: #fff;
    background-image: none;
    border: 0 none;
    border-radius: 4px;
    color: #444;
    display: block;
    height: 100%;
    line-height: 26px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    padding-left: 8px;
}

.select2-container .select2-choice .select2-arrow {
    background: none;
    border-left: 0 none;
    border-radius: 0 4px 4px 0;
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
}

.select2-drop-active{
    border-color: black !important;
}

.select2-drop {
    box-shadow: none !important;
    margin-top: -3px;
}

.select2-drop.select2-drop-above{
    margin-top: 2px;
}

.select2-results .select2-highlighted {
    background: black none repeat scroll 0 0;
    color: #fff;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #5897fb;
}
.select2-container.select2-drop-above .select2-choice {
    background-image: none;
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
    background-image: none;
    border: 0;
}

/* User Profile*/
.sonata-user-show .menu {
    text-align: center;
    margin-top: 60px;
}
.sonata-user-show .menu .list-group .list-group-item {
    display: inline-block;
    border: 0;
    padding: 10px 30px;
}

/* Scheda Prodotto */
table.prodotto {
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 25px;
}

.scheda-prodotto {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 10px;
    padding-bottom: 30px;
}
.product-view .close {
    font-size: 35px;
    font-weight: 100;
    opacity: 1;
    filter: alpha(opacity=100);
}

.product-view h4 {
    margin-bottom: 15px;
}

.product-view h5, .product-view h6 {
    margin-bottom: 25px;
}

table.table.prodotto th {
    text-align: center;
    border-top: 0;
    font-weight: 400;
}

table.table.prodotto td {
    border-top: 1px solid black;
}

table.prodotto a.active{
    text-decoration: underline;
}

#sonata_add_basket_submit {
    margin-top: 26px;
    padding-bottom: 0;
}
/* Basket stepper */

ul.stepper {
    margin-top: 125px !important;
    margin-bottom: 125px !important;
    text-transform: uppercase;
    height: auto !important;
}

ul.stepper li p {
    color: black;
}
ul.stepper li {
    width: 210px !important;
    
}

ul.stepper li.active {
    color: black !important;
}

ul.stepper li.active div.img-circle {
    background: #99b0c2 none repeat scroll 0 0 !important;
}

ul.stepper li div.img-circle {
    background: white none repeat scroll 0 0 !important;
    color: black !important;
    border: 1px solid black;
    
    font-size: 1.3em !important;
    height: 35px !important;
    width: 35px !important;
	text-align:center;
}
/*NEW CSS - PRODUCT FORM*/
#product_form{ width:83%;}


/* Table bag */
.table.bag {
    text-transform: uppercase;
    margin-bottom: 80px;
}

.table.bag > thead > tr > th {
    border-bottom: 1px solid black;
    vertical-align: bottom;
    margin-bottom: 25px;
}

.table.bag tbody td {
    padding-top: 30px;
    vertical-align: middle;
}

.table.bag tr:first-child td, .table.bag tfoot tr:first-child th{
    padding-top: 40px;
}

.table.bag img {
    margin-right: 20px;
}

.table.bag td input[type="number"] {
    max-width: 50px;
}

.sonata-basket-nextstep {
    text-decoration: underline !important;
}

.basket-control {
    text-decoration: underline !important;
}

/* panels */
.panel {
    border: 0;
}
.panel-body, .panel-heading {
    text-align: center;
}

.panel-heading {
    text-transform: uppercase;
}

.panel-body h3 {
    text-transform: uppercase;
}

.panel-body {
    padding-bottom: 30px;
    border-bottom: 1px solid black;
    margin-bottom: 90px;
}

.panel.panel-final-review {
    margin-bottom: 40px;
}

.panel.panel-final-review .panel-body {
    padding-bottom: 20px;
    margin-bottom: 0;
}
.list-group-item.delivery-address {
    border:0;
}

.sonata-payment-confirmation b {
    text-transform: uppercase;

}

.sonata-payment-confirmation div {
    margin-bottom: 90px;
    margin-top: 65px;
}

.sonata-payment-confirmation p {
    margin-bottom: 40px;
}

#collapseHome .carrello {
    margin-top: 130px;
    max-height: 41px;
}

#collapseHome {
    background-color: white;
    position: absolute;
    z-index: 100;
    max-width: 1920px;
}

#toggle-header a img {
    max-height: 28px;
    padding: 5px;
}

.navbar-icons-padding{
padding-top:12%;

}

#collapseHome .logo {
    margin-top: 100px;
    margin-bottom: 30px;
    max-height: 108px;
}

#collapseHome .our-network {
    text-align: center;
    height: 175px;
    padding-top: 45px;
    font-size: 29px;
    letter-spacing: 6px;
}

#collapseHome .join-us, #collapseHome .sign-in {
    text-align: center;
    height: 170px;
    width: 100%;
    padding-top:70px;
    font-size : 22px ;
    letter-spacing: 6px;
}

#collapseHome .search {
    text-align: center;
}

#collapseHome .search form {
    height: 41px;
    margin-bottom: 160px;
    margin-left: 15%;
    margin-top: 130px;
    width: 77%;
}

#collapseHome .forchetta {
    left: 18%;
    margin-top: 3px;
    position: absolute;
}

#collapseHome .search input {
    border: 1px solid;
    border-radius: 6px;
    font-size: 20px;
    height: 100%;
    line-height: 50px;
    padding-left: 7%;
    width: 100%;
}

#collapseHome .link {
    font-size: 21px;
    letter-spacing: 6px;
    margin-bottom: 20px;
    text-align: center;
}

#collapseHome .link img {
    margin-bottom: 15px;
}

#collapseHome hr {
    margin: 0;
    border-color: black;
}

.basket_modal .modal-content {
    color: white !important;
    background-color: transparent;
    box-shadow: none;
    border: 0;
}

.basket_modal .stepper {
    display: none;
}

.basket_modal .table.bag > thead > tr > th {
    border-bottom: 1px solid black;
}

.basket_modal .btn, .basket_modal input, .basket_modal a {
    background-color: transparent;
    color: white;
    border-color: white;
}

.basket_modal .modal-header {
    border: 0;
}

.basket_modal .close {
    color: white;
    font-weight: 400;
    text-shadow: none;
    opacity: 1;
    filter: alpha(opacity=100);
}


