{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="row" style="margin-top: 100px">
    <div class="col-xs-12 col-md-10 col-md-offset-1 no-pad">
<div class="col-xs-12 col-md-4 col-md-offset-4 no-pad-xs text-center">
{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
</div>
    </div>
</div>
{% endblock %}
