{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="row" style="margin-top: 100px">
    <div class="col-xs-12 col-md-10 col-md-offset-1 no-pad">
<div class="col-xs-12 col-md-4 col-md-offset-4 no-pad-xs text-center" style="margin-bottom: 100px; margin-top: 50px;">
    {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
    </div>
    </div>
</div>
{% endblock fos_user_content %}
