<html>
<body>

<table width="600" style="margin: 0 auto 0 auto; width: 600px;">
    <tr align="center">
        <td>
            <a href="{{ app.request.getSchemeAndHttpHost() ~ path('sonata_catalog_index') }}">
                <img width="400" src="http://cibour.com/uploads/media/default/0001/01/289cefba4da0999587c81767e037e14f96819013.jpeg">
            </a>
        </td>
    </tr>
    <tr align="center">
        <td><div>Partner</div></td>
    </tr>
    <tr align="center">
        <td>
            <a href="http://www.latavolaitaliana.org">
                <img width="100" src="http://cibour.com/uploads/media/default/0001/01/4395bdbbbe261c6a3caee6e88fee011f8131414d.jpeg">
            </a>
        </td>
    </tr>
    <tr align="left">
        <td>
            <p>
                Grazie di averci scelto.
            </p>
            <p>
                Le diamo il benvenuto su cibour.com, il portale per la tavola e la salute che accorcia le distanze tra produttori e consumatori.
            </p>
            <p>
                La preghiamo di verificare i Suoi dati nella sua <a href="{{ app.request.getSchemeAndHttpHost() ~ path('sonata_user_profile_show') }}">pagina del profilo.</a>
            </p>
            <p>
                Adesso potrà scegliere i prodotti e i servizi selezionati per Lei da noi con i rigidi criteri del disciplinare de “La Tavola Italiana”, che punta a promuovere le 5 A dell’eccellenza (Alimentazione,  Artigianato,  Agricoltura,  Ambiente,  Arte) per l’agroalimentare ma non solo...
            </p>
            <p>
                <a href="{{ app.request.getSchemeAndHttpHost() ~ path('sonata_catalog_index') }}">Vai al sito</a>
            </p>
        </td>
    </tr>
    <tr align="center">
        <td>
            <p>
                Customer service <a href="mailto:ecommerce@cibour.com">ecommerce@cibour.com</a><br>
                Telefono +39 392 5948794
            </p>
            <p>
                <a href="https://www.facebook.com/Cibour-179476069060260/">
                    <img width="20" src="http://cibour.com/uploads/media/default/0001/01/602f97841073baf7e9f19ac7dcb0e3761a3731ae.png"></a>
            </p>
        </td>
    </tr>
</table>

</body>
</html>