<div class="row ">
    <div style="margin-top: 75px;" class="col-xs-12 col-md-6 col-md-offset-3 text-justify">                                                                                                                        <br>
        <h3 class="text-up-bold text-center font-mob-1">CTI SRL (COMMERCIALE TAVOLA ITALIANA) - WWW.CIBOUR.COM <br>

            <br>piattaforma e-commerce di produttori per l’Agroalimentare Italiano in collaborazione con l’Associazione La Tavola Italiana<br/><a href="http://www.latavolaitaliana.org" target="_blank">www.latavolaitaliana.org</a><br><br>
            <img src="{{ asset('bundles/cticibour/images/crop_crop_la_tavola_italiana_small_MINE_signature.jpg') }}" width="90" height="75">            </h3>


        <br>
        <h3 class="text-up-bold font-mob-1">Cos'&Eacute; CIBOUR </h3>


        <br>
        Rappresenta una piattaforma di produttori che nasce per portate l’agroalimentare italiano direttamente ai consumatori, unitamente a proposte di artigianato della tavola, di viaggi per la scoperta dei territori e dei produttori e di buone pratiche per la trasformazione del cibo in salute e benessere.
        Per permettere di portare l’offerta “dal produttore al consumatore”, CTI Srl offre servizi commerciali e logistici B2B e B2C per le piccole e medie aziende.
        È di proprietà di CTI Srl (Commerciale Tavola Italiana) e partner de “La tavola Italiana”.

        WWW.CIBOUR.COM
        E’ la piattaforma on line di CTI Srl e rappresenta un canale di e-commerce di qualità per prodotti e produttori agroalimentari e artigianali selezionati e controllati dal team di esperti dell’Associazione La Tavola Italiana.
        Consiglia proposte di salute e benessere attraverso il cibo
        e organizza anche visite guidate presso i produttori e i loro territori,
        per far godere, vivere, assaporare e rinnovare le antiche tradizioni ancora presenti in ogni zona d’Italia.
        CTI srl (Commerciale Tavola Italiana) è una Startup Innovativa italiana che punta sulla qualità dei migliori produttori del suo Paese per commercializzare e promuovere la cultura del cibo, ovvero i cinque aspetti essenziali alla vita e al viaggio intellettuale di ciascuno attraverso la Tavola che iniziano con la lettera A: l’Agricoltura, l’Alimentazione, l’Ambiente, l’Arte, l’Artigianato, che riguardano l’economia e la cultura, la campagna e la città, il cibo e il design.
        <br><br/>
        <strong>Punti di Forza di www.cibour.com:</strong><p>
        <li>	Focus sul consumatore metropolitano (Milano e le altre metropoli italiane e estere)</li>
        <li>	Partecipazione ad eventi di terzi in città e nelle aree limitrofe per assaggio e spiegazione prodotti presenti in e-commerce connessi a manifestazioni d’arte e di sport</li>
        <li>	Presenza in street food e ristoranti/gastronomie cittadine, anche con vetrina virtuale</li>
        <li>	Aggregazione prodotti con caratteristiche complementari per gusto, menù, componenti nutraceutiche e salutistiche</li>
        <li>	Sito di e-commerce www.cibour.com costruito come community dei produttori e dei consumatori e tale da permettere la vendita ai consumatori direttamente dai produttori (modello GAS), insieme all’offerta di servizi complementari al cibo (pacchetti di proposte selezionate in base alla Dieta Mediterranea di prodotti enogastronomici, servizi per la dieta e la salute, ecc)</li></p>

        <br>

        <br>

        <br>

        <br>
    </div>
    <br>
    <br>

</div>