<div class="row ">
    <div style="margin-top: 75px;" class="col-xs-12 col-md-6 col-md-offset-3 text-justify">
        <h3 class="text-up-bold text-center font-mob-1">CONTATTI<br></h3><br>
        <div class="col-sm-10"></div>
        <div class="col-sm-2 text-center">
            <p>CTI S.r.l.</p>
            <p>
                Customer service <a href="mailto:ecommerce@cibour.com">ecommerce@cibour.com</a><br>
                Telefono +39 392 5948794
            </p>
            <p>
                <a href="https://www.facebook.com/Cibour-179476069060260/">
                    <img width="30" src="http://cibour.com/uploads/media/default/0001/01/602f97841073baf7e9f19ac7dcb0e3761a3731ae.png"></a>
                <a style="text-decoration: none" href="https://is.gd/luMbOa">
                    <img width="30" src="http://cibour.com/uploads/media/default/0001/01/1da3f87c8cc838d24816a793507e3ac9e1fea395.png">
                </a>
            </p>
        </div>
    </div>
    <br><br>
</div>