<div class="row ">
    <div style="margin-top: 75px;" class="col-xs-12 col-md-6 col-md-offset-3 text-justify">
        <h3 class="text-up-bold text-center font-mob-1">FAQ<br></h3><br>
        <b>Per fare acquisti su Cibour.com è necessaria la registrazione? come mi registro?</b><br>
        Per fare acquisti su Cibour.com è necessario registrarsi.<br>
        Riceverai un'email di conferma all’indirizzo fornito in fase di registrazione.<br><br>
        <b>Su Cibour.com è previsto un ordine minimo?</b><br>
        No, da Cibour.com puoi effettuare ordini di qualsiasi importo.<br><br>
        <b>Come faccio a sapere che il mio ordine è stato confermato?</b><br>
        Una volta completato l’ordine, riceverai all’indirizzo email utilizzato per l’acquisto un messaggio con la conferma del tuo ordine.<br>
        Nel caso in cui non dovessi ricevere l'email, controlla la cartella Posta Indesiderata o Spam della tua casella email e, se utilizzi un indirizzo Gmail, controlla anche nella cartella Promozioni. Per ulteriori informazioni il Servizio Clienti è a tua completa disposizione.<br>
        <br>
        <b>Non riesco a registrarmi/a concludere l’acquisto. Cosa posso fare?</b><br>
        Se riscontri difficoltà nella navigazione o nel concludere un acquisto su Cibour.com, ti consigliamo di aggiornare il tuo browser di navigazione (Google Chome, Mozilla, Internet Explorer, Safari, ecc.) all’ultima versione disponibile.<br>
        Qualora continuassi a riscontrare problemi, ricorda che il Servizio Clienti è a tua completa disposizione.<br><br>
        <b>Quali metodi di pagamento è possibile utilizzare su Cibour.com?</b><br>
        Lo Cibour.com consente di fare acquisti utilizzando:<br>
        <ul>
            <li>Carta di Credito
            <li>PayPal
            <li>Bonifico Bancario
        </ul><br>
        <b>Quali carte di credito accettate?</b><br>
        Su Cibour.com puoi acquistare con i seguenti strumenti di pagamento elettronico: Visa, Visa Electron, Postepay, Mastercard e American Express e molte altre del circuito Visa e Mastercard.<br><br>
        <b>È sicuro pagare con la carta di credito su Cibour.com?</b><br>
        Utilizzare la Carta di Credito per fare la spesa su Cibour.com è facile e immediato.<br>
        Per garantirti il massimo della protezione, la transazione sarà effettuata sul server sicuro della banca. Cibour.com non memorizza alcun numero di Carta di Credito ma, grazie al sistema di comunicazione con il server della banca, dalla tua seconda spesa, potrai effettuare l'acquisto senza inserire nuovamente i tuoi dati.<br>
        <br>
        <b>Quanto costa spedire in Italia?</b><br>
        Il costo della spedizione in Italia – isole comprese – è di 8 €.<br>
        <br>
        <b>Quando riceverò il mio ordine?</b><br>
        Una volta confermato il tuo ordine, generalmente la merce viene preparata per la spedizione ed affidata al Corriere entro il giorno successivo. Da quella data, il Corriere impiega circa da 3 a 7 giorni lavorativi per la consegna in Europa. Gli ordini effettuati nel fine settimana o nei giorni festivi vengono preparati nel corso della giornata lavorativa successiva. Per alcuni Paesi europei i tempi di consegna potrebbero allungarsi a causa dell’espletamento delle pratiche doganali. Quando il Corriere Espresso avrà preso in carico il tuo pacco, riceverai un'email e/o un sms al numero di telefono indicato in fase d’acquisto, con il link di tracciamento della spedizione.<br>
        Nel caso di prodotto non disponibile a magazzino devi aggiungere ai giorni sopraindicati circa 5/7 giorni per il reperimento del prodotto.<br>
        In questo caso sarai contattato dal Servizio Clienti per indicarti data consegna prevista.<br>
        <br>
        <b>Come faccio a sapere dove si trova il mio ordine?</b><br>
        Quando il tuo ordine sarà pronto per la spedizione riceverai un'email o un sms al numero di telefono indicato in fase d’acquisto, con il link per tracciare il pacco. Attraverso il sito del corriere che ha preso in consegna la spedizione, potrai sempre verificare dove si trova il tuo ordine.<br>
        Non hai ricevuto l'email? Verifica la cartella Posta Indesiderata o Spam della tua casella email e, se utilizzi un indirizzo Gmail, controlla anche nella cartella Promozioni.<br>
        Se hai scelto il ritiro presso èPasta, sarai contattato direttamente per il ritiro.<br>
        <br>
        <b>Cosa devo fare se nel pacco che mi viene consegnato manca qualcosa o c'è un prodotto danneggiato?</b><br>
        Se al momento della consegna nel pacco vi fossero prodotti mancanti, diversi da quelli ordinati e/o danneggiati, ti preghiamo di contattare tempestivamente il Servizio Clienti anche tramite Skype. Se ricevi un pacco aperto o imballato con nastro adesivo non marchiato Eataly puoi accettare con riserva o rifiutare la consegna: segnala immediatamente l’accaduto al nostro Servizio Clienti che provvederà a verificare l’accaduto.<br>
        <br>
        <b>Cosa devo fare se il pacco che mi viene consegnato presenta segni di manomissione o di danneggiamento?</b><br>
        Controlla bene il pacco al momento della consegna: se presenta segni di manomissione o risulta chiaramente danneggiato ti consigliamo di rifiutare la consegna e di metterti in contatto con il nostro Servizio Clienti. Per contattarlo clicca su Assistenza Clienti<br>
        <br>
        <b>Perché non posso restituire i prodotti alimentari?</b><br>
        Per tutelare i nostri Clienti e per motivi igienici puoi esercitare il diritto di Recesso solo per i prodotti che possono essere rimessi in commercio senza pericoli per la salute dei consumatori. Proprio per questo motivo non è possibile restituire prodotti alimentari e cosmetici, dei quali non è possibile garantire un’adeguata conservazione.<br>
        <br>
        <b>Se non sono soddisfatto di un prodotto posso restituirlo?</b><br>
        Contatta il Servizio Clienti dello Cibour.com, che verificherà il tuo caso.<br>
        <br><br>
    </div>
    <br><br>
</div>