{% block page_content %}
    <div class="row ">
        <div style="margin-top: 75px;" class="col-xs-12 col-md-6 col-md-offset-3 text-justify">                                                                                                                        <br>
            <h3 class="text-up-bold text-center font-mob-1">Politica di Privacy<br>

                <br>IL TRATTAMENTO DEI DATI PERSONALI IN CIBOUR.COM &ndash; CTI S.R.L.</h3>


            <br>

            <br>
            <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp; CHE COS'È L'INFORMATIVA SULLA PRIVACY </h3>


            <br>

            Questa informativa viene resa ai sensi dell'art. 13 del d.lgs.
            n. 196/2003 (Codice in materia di protezione dei dati personali &ndash;


            di seguito “Codice”) a coloro che utilizzano i servizi web di
            CTI S.r.l. (“cibour.com”), accessibili all'indirizzo www.cibour.com


            (“Sito”) ed è relativa a tutti i dati personali che Cibour.com
            raccoglie e detiene sui suoi utenti e sul loro account, mentre


            non si applica ai dati raccolti da altri siti web eventualmente
            consultati dall'utente tramite link a pagine esterne di terzi.


            Con l’espressione “dato personale” si intende qualunque
            informazione relativa ad una persona fisica, identificata o



            identificabile, anche indirettamente, mediante riferimento a
            qualsiasi altra informazione (art 4., lett. b, Codice).


            Cibour.com può modificare, integrare o aggiornare periodicamente
            la presente Informativa, anche in considerazione di


            eventuali modifiche della normativa applicabile o di
            provvedimenti del Garante per la Protezione dei Dati Personali. Le



            modifiche e gli aggiornamenti dell’Informativa saranno applicati
            e portati a conoscenza dei soggetti interessati non appena


            adottati mediante link alla Privacy Policy nel footer del Sito.
            Conseguentemente, ogni utente interessato è invitato ad


            accedere con regolarità al Sito per verificare l’Informativa
            aggiornata.                                                           <br>

            <br>                  <br>
            <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;QUALI SONO I DATI TRATTATI DA CIBOUR.COM  </h3>
            <br>


            I dati personali trattati da Cibour.com (“Trattamento Dati”)
            sono dati raccolti (i) in quanto forniti direttamente


            dall’interessato; (ii) in quanto forniti da terze parti; (iii)
            automaticamente.


            i) I dati forniti direttamente dall’interessato sono tutti i
            dati personali inseriti nel Sito (per navigare, per procedere agli


            acquisti online o per qualsiasi altra ragione) o che comunque
            siano forniti ad Cibour.com con qualsiasi modalità. Qualsiasi


            soggetto interessato, nei limiti di legge, può decidere di non
            permettere il trattamento di tutti o parte dei suoi dati,


            sebbene tale esclusione potrebbe limitare o escludere l’uso di
            parte dei servizi di Cibour.com. Esempi di dati forniti


            direttamente dagli interessati sono: il nome; l’indirizzo e
            numero di telefono; i dati della carta di credito (trattati



            limitatamente al tempo necessario all’acquisto); i nominativi
            dei destinatari degli ordini, se diversi dall’acquirente. Più in


            generale, tutti i dati forniti per permettere l’effettuazione di
            un ordine d’acquisto, lo svolgimento di ricerche di prodotti sul


            Sito, la compilazione e l’uso del profilo sul Sito,
            l’agevolazione della consegna dei prodotti con la comunicazione dei dati



            relativi ai numeri o indirizzi di contatto (e.g. telefono,
            email, indirizzi), ecc.



            ii) I dati forniti da terze parti sono tutti i dati personali
            che Cibour.com raccoglie da altre fonti (società di servizi postali,


            corrieri, società di data entry, ecc.) per svolgere i suoi
            servizi. Anche in questo caso, qualsiasi soggetto interessato, nei
            limiti


            di legge, può decidere di non permettere il trattamento di tutti
            o parte dei suoi dati, sebbene tale esclusione potrebbe


            limitare o escludere l’uso di parte dei servizi di Cibour.com.
            Esempi di dati forniti da terze parti sono i dati relativi agli


            aggiornamenti o correzioni ricevuti in occasione delle consegne
            da parte dei corrieri o dei partner trasportatori o di terzi, i


            dati sulle pagine web visitate che potremmo ricevere da altri
            operatori commerciali con i quali Cibour.com potrebbe


            collaborare in alcune iniziative, ecc.



            iii) I dati raccolti automaticamente sono i dati di navigazione
            e/o i c.d. “cookies”. I sistemi informatici e le procedure


            software preposte al funzionamento del Sito web acquisiscono,
            nel corso del loro normale esercizio, alcuni dati personali la


            cui trasmissione è implicita nell'uso dei protocolli di
            comunicazione di Internet. Si tratta di informazioni che, generalmente,


            non sono raccolte per essere associate a interessati
            identificati, ma che per loro stessa natura potrebbero, attraverso



            elaborazioni ed associazioni con dati detenuti da terzi,
            permettere di identificare gli utenti. In questa categoria di dati



            rientrano gli indirizzi IP o i nomi di dominio dei computer
            utilizzati dagli utenti che si connettono al sito, gli indirizzi in



            notazione URI (Uniform Resource Identifier) delle risorse
            richieste, l'orario della richiesta, il metodo utilizzato nel


            sottoporre la richiesta al server, la dimensione del file
            ottenuto in risposta, il codice numerico indicante lo stato della



            risposta data dal server (buon fine, errore, ecc.) ed altri
            parametri relativi al sistema operativo e all'ambiente informatico


            dell'utente. Questi dati vengono principalmente utilizzati per
            ricavare informazioni statistiche sull'uso del sito e per


            controllarne il corretto funzionamento. I dati potrebbero essere
            utilizzati per l'accertamento di responsabilità in caso di

            <br>
            ipotetici reati informatici ai danni del sito.
            <br>

            <br>


            <br>
            <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;COOKIES </h3>


            <br>
            Un cookie è un file di dimensioni ridotte inviato da un sito web
            e memorizzato nel browser dell’utente mentre utilizza un


            sito Internet. I cookies possono essere memorizzati solo per il
            tempo di utilizzo di un determinato sito (session cookie) o per


            un periodo di tempo più lungo ed indipendente dalla sessione
            (persistent cookie). I cookies operano in combinazione con il


            contenuto del sito Internet e normalmente hanno la funzione di
            migliorare la fruibilità e l’esperienza di navigazione sul


            web. Essi permettono a Cibour.com di conoscere i contenuti
            visualizzati, le scelte selezionate e ogni utilizzo del Sito da



            parte dell’utente. Tale funzionalità consente a Cibour.com,
            inoltre, di offrire la pubblicità più utile e pertinente ad ogni



            singolo utente. Cibour.com potrebbe inoltre collaborare anche
            con società terze, utilizzatrici di tecnologie di tracciamento,


            per fare pubblicità su Internet. Tali società possono
            raccogliere informazioni, in modo anonimo, sulle visite al nostro Sito.



            Per perseguire gli scopi sopra menzionati, o per perseguire
            altre finalità, i cookies raccolgono e registrano le informazioni di



            navigazione, sebbene la politica di Cibour.com è di lasciare
            all’utente la scelta circa l’uso o meno di tali cookies.


            Conseguentemente, nel caso in cui l’utente blocchi o impedisca
            l’utilizzo dei cookies, alcune funzionalità del Sito


            potrebbero essere impedite o rallentate o comunque non essere
            efficienti.


            Oltre che per permettere un uso agevole del Sito, Cibour.com
            utilizza i cookies sul Sito per vari scopi, tra cui: (i) identificare


            l’utente quando effettua il log-in sul Sito; (ii) memorizzare i
            prodotti salvati nel carrello per il loro acquisto; (iii) evitare usi


            fraudolenti degli account o relativamente ai pagamenti; (iv) se
            autorizzati, aiutare la profilazione dell’utente e quindi


            fornirgli indicazioni sui prodotti di suo interesse, o altri
            contenuti o offerte personalizzate; (v) se autorizzati, fornire


            promozioni, contenuti, pubblicità, legate all’utente e alle sue
            preferenze e per ricordare tali preferenze; (vi) svolgere


            ricerche di mercato; (vii) migliorare il Sito, l’offerta di
            prodotti di Cibour.com e la commercializzazione degli stessi, ecc.



            Attualmente, il Sito utilizza i seguenti tipi di cookies con le
            funzioni di seguito indicate, che l’utente può attivare o


            disattivare nella sezione “Impostazioni Cookies“ presente in
            calce ad ogni pagina del Sito.                                          <br>
            <br>
            <br>
            <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;COOKIES TECNICI</h3>


            <br>
            Si tratta di cookies necessari per la navigazione in quanto
            permettono un utilizzo corretto del Sito e la sua piena



            funzionalità. Essi includono i cookies che permettono la
            creazione di un account personalizzato, l’effettuazione del log in, la


            visualizzazione dei contenuti nella lingua prescelta ad ogni
            accesso, riconoscendo da quale nazione l’utente si connette (e


            ricordando nei futuri accessi tale impostazione), e la gestione
            degli ordini. Tali cookies sono strettamente necessari al


            funzionamento del Sito e la loro disattivazione potrebbe
            pregiudicarne l’esperienza e il buon esito della navigazione. In tale



            categoria rientrano anche i cookies analitici, che permettono,
            attraverso altri sistemi informatici, l’analisi statistica delle


            navigazioni degli utenti sul Sito, al solo fine di comprenderne
            l’utilizzo da parte degli utenti. Essi includono ad esempio i


            cookies che registrano il numero di click effettuati su una
            pagina del Sito e il numero di pagine visitate dagli utenti. Tali



            analisi avvengono su dati aggregati ed anonimi e svolgono
            unicamente finalità statistiche. Essi non sono indispensabili al



            funzionamento del sito ma essendo trattati in modo anonimo non
            pregiudicano gli interessi dei proprietari dei dati.                  <br>
            <br>
            <br>
            <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;COOKIES NON TECNICI</h3>


            <br>
            In questa categoria rientrano i seguenti tipi di cookies:



            Cookies funzionali all’utilizzo del sito: consentono ad
            Cibour.com di agevolare e migliorare l’uso del Sito da parte



            dell’utente. Essi permettono di riconoscere l’utente ad ogni
            accesso al Sito (qualora l’utente ne abbia fatto richiesta


            mediante l’attivazione della funzione “Riconoscimi al prossimo
            accesso"), evitando il nuovo inserimento dei dati ad ogni


            nuova sessione di navigazione ovvero ricordando (per un tempo
            determinato) la spesa fatta al precedente accesso qualora


            l’acquisto non sia stato portato a termine in tale occasione.
            Essi non sono indispensabili per la navigazione sul Sito ma


            mirano a facilitarne e a velocizzarne l’utilizzo.



            Cookies di terze parti per marketing/retargeting: sono cookies
            di società terze che consentono la raccolta di


            informazioni sull’utente per permettere una comunicazione
            promozionale più specifica e/o personalizzata verso l’utente.



            Essi comprendono i cookies relativi all’inserimento nel Sito di
            banner pubblicitari relativi a società terze o ai prodotti scelti o


            visionati dall’utente, o prodotti affini o simili. Questi
            cookies non richiedono necessariamente il trattamento di dati



            personali e possono essere disattivati senza impedire la
            corretta navigazione sul Sito, tuttavia la loro disattivazione



            comporta principalmente la ricezione di messaggi promozionali
            che potrebbero non essere di interesse per l’utente.


            Posso disabilitare i cookies?



            Per maggiori informazioni e per modificare le impostazioni
            relative ai cookies, inclusa la loro attivazione e disattivazione, è



            possibile accedere alla sezione dedicata linkata dal footer del
            sito alla voce “Impostazioni Cookie”.


            Inoltre, più in generale, operando sulle impostazioni del
            browser, quasi tutti i computer permettono di avvisare l’utente



            ogni volta che un cookie viene inviato, ovvero consentono la
            disattivazione totale dei cookies. La loro completa


            disattivazione potrebbe precludere molte funzionalità, o la
            corretta navigazione o visualizzazione del Sito o di altre pagine



            web.


            <br>

            <br>

            <br>
            <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp; LUOGO, MODALITÀ DEL TRATTAMENTO DATI E SOGGETTI A CUI I DATI
                POSSONO ESSERE COMUNICATI  </h3>                                             <br>


            Il Trattamento Dati avviene di regola presso la sede di CTI
            S.r.l.



            I dati personali sono trattati da CTI srl o e/o da soggetti
            terzi attentamente selezionati per affidabilità e competenza, a cui


            possono essere comunicati in quanto ciò sia necessario od
            opportuno al fine di svolgere attività, anche strumentali o



            accessorie, attinenti alle finalità del Trattamento Dati
            indicate nella presente informativa, la principale delle quali consiste



            nella fornitura di beni o servizi richiesti dall’interessato
            (es: società di servizi postali, corrieri, società di data entry, ecc.).


            Inoltre i dati personali degli utenti possono essere comunicati
            anche alle società appartenenti al Gruppo di Cibour.com,


            quali ad esempio La Tavola Italiana &ndash; latavolaitaliana.org - (a
            cui possono essere comunicati in quanto, nello svolgimento


            delle proprie attività, tali società hanno una policy privacy
            conforme a questa Informativa) purché il Trattamento Dati da


            parte di tali società avvenga in Italia o in un paese
            dell’Unione Europea.


            In ogni altro caso, salvo quanto previsto dalle norme di legge, i
            dati personali non sono ceduti e/o comunicati a terzi.


            I dati personali sono raccolti nel rispetto degli obblighi e
            delle garanzie previste dal Codice e sono trattati,


            prevalentemente, con strumenti elettronici e telematici
            automatizzati, per il tempo strettamente necessario a conseguire



            gli scopi per i quali sono stati raccolti. Specifiche misure di
            sicurezza sono osservate per prevenire la perdita dei dati, usi


            illeciti o non corretti ed accessi non autorizzati.



            Non appena i dati personali non sono più necessari per gli scopi
            per i quali sono stati raccolti, Cibour.com provvede alla loro


            eliminazione, salvo che la legge non preveda obblighi di
            archiviazione o che l’utente non abbia acconsentito al trattamento


            per un tempo più lungo o alla loro archiviazione.
            <br>

            <br>



            <br>
            <h3 class="text-up-bold font-mob-1"> &nbsp;&nbsp;DIRITTI DEGLI INTERESSATI </h3>


            <br>
            Ai sensi dell’art. 7 del Codice, ciascun utente ha diritto di
            ottenere la conferma dell’esistenza o meno dei suoi dati


            personali, anche se non ancora registrati, e la loro
            comunicazione in forma intellegibile.



            In particolare, ciascun utente ha diritto di ottenere da
            Cibour.com ogni notizia circa: (i) l’origine dei dati personali; (ii) la



            finalità e la modalità di trattamento; (iii) le modalità in cui
            strumenti elettronici/informatici trattano i dati; (iv) gli estremi


            identificativi del titolare e degli eventuali responsabili del
            trattamento designati; (v) gli estremi identificativi dei soggetti e


            delle categorie di soggetti ai quali i dati possono essere
            comunicati.



            Inoltre ciascun utente ha diritto di ottenere da Cibour.com
            l’aggiornamento, la rettificazione ovvero l’integrazione dei


            propri dati così come la cancellazione degli stessi nel caso di
            trattamenti illegittimi e/o negli altri casi di legge, con il blocco


            dei dati trattati in violazione di legge.



            Infine ciascun utente ha il diritto di opporsi, in tutto o in
            parte, al trattamento dei dati personali che lo riguardano,


            ancorché pertinenti allo scopo della raccolta, per motivi
            legittimi e per fini di invio di materiale pubblicitario, di vendita


            diretta e per il compimento di ricerche di mercato.



            Le richieste di cui ai punti precedenti vanno rivolte a mezzo
            lettera raccomandata a/r o e-mail al Responsabile del


            Trattamento indicato al successivo paragrafo.
            <br>

            <br>



            <br>
            <h3 class="text-up-bold font-mob-1"> &nbsp;&nbsp; TITOLARE E RESPONSABILE DEL TRATTAMENTO  </h3>


            <br>
            Il titolare del trattamento dei dati è CTI S.r.l., con sede
            legale in Menfi (AG) Via Matteotti 5, e Sede Operativa in 20122



            Milano &ndash; Via Freguglia, Codice Fiscale / Partita Iva:
            02783110840



            L’elenco aggiornato dei Responsabili del trattamento (se
            nominati), è reperibile presso la sede legale di CTI srl sopra



            indicata.
            <br><br><br>

            <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;
                FINALITÀ DEL TRATTAMENTO - NATURA OBBLIGATORIA O FACOLTATIVA E
                CONSEGUENZA DI UN EVENTUALE RIFIUTO               </h3>

            <br>
            I dati sono trattati esclusivamente per le finalità per le quali
            sono raccolti, di seguito descritte.


            Principalmente, Cibour.com utilizza i dati forniti dagli
            interessati per:



            gestire gli ordini e svolgere le attività connesse (es:
            comunicazioni con il cliente sullo stato dell’ordine, risposte a



            sue richieste di informazioni, gestione dei pagamenti, ecc.);



            gestire l’account degli utenti in caso di registrazione al
            Sito per fruire dei relativi servizi;


            permettere l’adesione a servizi specifici e ulteriori, quali
            la ricezione di newsletter per comunicazione di offerte


            promozionali e altri servizi informativi, ovvero per lo
            svolgimento di attività statistiche e/o di ricerche di mercato.



            Per tutte le finalità di cui sopra, Cibour.com potrà incaricare
            dei fornitori esterni ai quali vengono trasmessi solo ed


            esclusivamente i dati strettamente necessari all’espletamento
            dell’incarico.


            Il conferimento dei dati per le finalità di cui ai punti n. 1 e 2
            sopra, in quanto necessari per dare corso alla vendita e


            consegna dei prodotti e servizi acquistati sul Sito o per la
            registrazione allo stesso, è obbligatorio ed il rifiuto a prestare il


            relativo consenso al Trattamento rende impossibile eseguire i
            servizi richiesti relativamente all’acquisto di beni e servizi sul


            Sito e alla registrazione al Sito stesso.



            Il conferimento dei dati per le finalità di cui al punto n. 3
            (newsletter per scopi promozionali, informativi o di ricerca) è


            facoltativo ed il rifiuto a prestare il relativo consenso al
            Trattamento permette comunque di eseguire il rapporto


            contrattuale con Cibour.com per fornire i servizi di cui ai
            punti 1 e 2 sopra indicati, ma darà luogo all’impossibilità di essere



            aggiornati circa iniziative commerciali e/o campagne
            promozionali, di ricevere offerte o altro materiale promozionale e/o di



            inviare all’utente offerte personalizzate. Qualora tale consenso
            sia stato dato mediante selezione della casella “Iscriviti alla


            Newsletter”, Cibour.com potrà inviare all’utente dei messaggi
            pubblicitari o promozionali, utilizzando tutti i recapiti da egli


            forniti, nei limiti di quanto previsto dal Codice e salva la
            facoltà dell’utente di negare in ogni momento tale uso, anche in


            relazione a solo alcuni dei recapiti comunicati (opt-out).
            <br>

            <br>

            <br>

            <br>
        </div>
        <br>
        <br>

    </div>                                                                                                                             <br>
{% endblock %}                                                                                                                               <br>
