{% block page_content %}
    <div class="row">
        {{ sonata_block_render({'type': 'cibour.block.home.slider'}) }}
    </div>

            {{ sonata_block_render({'type': 'sonata.product.block.trending_now_products', 'settings': {'number': 12}}) }}

            {{ sonata_block_render({'type': 'sonata.product.block.recent_products', 'settings': {'number': 12}},
            {'title' : 'Ultimi Arrivi',
                'template' : 'ApplicationSonataProductBundle:Block:recent_products.html.twig'}) }}

            {{ sonata_block_render({'type': 'sonata.product.block.most_popular_products', 'settings': {'number': 12}}) }}
{% endblock %}
