<div class="row ">
    <div style="margin-top: 75px;" class="col-xs-12 col-md-6 col-md-offset-3 text-justify">                                                                                                                        <br>
        <h3 class="text-up-bold text-center font-mob-1">La Storia<br></h3>

        <br>

        Dopo una lunga serie di eventi promozionali e degustativi, L’associazione La Tavola Italiana, attiva da aprile 2014, ha voluto stimolare la nascita di un progetto logistico e commerciale tra i propri convitati produttori guidato da CTI Srl (Commerciale Tavola Italiana).
        Per questo, dal 14 dicembre 2016 CTI Srl ha messo on line per un primo periodo di sperimentazione la piattaforma di sharing economy www.cibour.com su cui è possibile acquistare direttamente dal produttore le eccellenze agroalimentari italiane, con consegna tramite corriere espresso a cura di CTI Srl o ritiro anche presso la società consociata di street food a marchio èPasta nei punti vendita di Cadorna e Sant’Ambrogio – Università Cattolica degli Studi di Milano.
        <br><br>
        Dal 14 dicembre 2016, CTI Srl presenta quindi al pubblico Cibour, che nasce per rispondere a una importante esigenza crescente nel mondo dell’agroalimentare, e cioè avvicinare sempre di più il produttore al consumatore. Troppo spesso, nei dedali  di scaffali della grande distribuzione alimentare, il consumatore risulta confuso. Districarsi tra la veridicità delle etichette, prodotti importanti e garantiti per la salute, intolleranze e diverse esigenze risulta sempre più difficile e non di rado coloro che acquistano si chiedono cosa stiano veramente ponendo nel loro sacchetto della spesa.
        <br><br>
        Dopo il periodo di sperimentazione, ma fin da subito con un’azione diretta da parte dei fondatori e degli esperti dell’Associazione La Tavola Italiana, acquistando da CIBOUR, si potrà avere la certezza che i prodotti presenti siano assolutamente certificati e controllati dagli ispettori dell’Associazione, poiché ai produttori partner che aderiscono all’e-commerce di www.cibour.com viene richiesta la compilazione di un rigido questionario stilato dagli esperti in collaborazione con La Tavola Italiana (derivante dal Disciplinare 5A, che richiede la massima trasparenza ai partner commerciali in materia di Agricoltura, Artigianato, Ambiente, Arte e Alimentazione) e in seguito al quale i produttori, le loro aziende e la loro merce vengono sottoposti a controlli periodici.
        Questo a tutela del consumatore e nel rispetto di una tradizione che CIBOUR e La Tavola Italiana vogliono preservare e riqualificare.
        <br><br>
        Consapevole dell’importanza di una comunicazione moderna e all’avanguardia, CTI srl (Commerciale Tavola Italiana) si è presentata al grande pubblico durate la finale del festival internazionale dell’audiovisivo FIACULT – Festival Internacional Audiovisuail de Cultura e Turismo presso il Teatro Accademico di Castelfranco Veneto (TV), nell’ambito del quale il documentario  “Ricchezza. La Tavola Italiana” prodotto dall’Associazione La Tavola Italiana, della quale CTI SRL è partner operativo, ha ottenuto il primo premio nella categoria TURISMO ENOGASTRONOMICO
        <br><br>
        In tale occasione CTI ha potuto promuovere il proprio progetto attraverso la cultura e il turismo e ha potuto anticipare la presentazione dal 14 dicembre 2016 in anteprima mondiale del portale WWW.CIBOUR.COM.
        <br><br>
        Dal 2015, CTI srl (Commerciale Tavola Italiana) è una Startup Innovativa italiana che punta sulla qualità dei migliori produttori del suo Paese per commercializzare e promuovere la cultura del cibo, ovvero i cinque aspetti essenziali alla vita e al viaggio intellettuale di ciascuno attraverso la Tavola. Cinque aspetti che iniziano con la lettera A: l’Agricoltura, l’Alimentazione, l’Ambiente, l’Arte, l’Artigianato. Aspetti che riguardano l’economia e la cultura, la campagna e la città, il cibo e il design.<br><br>
        <p align="center"><img src="{{ asset('bundles/cticibour/images/logo_cibour_culture_of_food.jpg') }}" width="248" height="80" align="middle"></p><br>

        <br>

        <br>

        <br>
    </div>
    <br>
    <br>

</div>