<div class="collapse text-center" id="collapseHome">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img src="{{ asset('bundles/cticibour/images/HOME_NETWORK.jpg') }}" class="img-responsive center-block">
            </div>
        </div>
        <div class="row">
                <a role="button" data-toggle="collapse" href="#collapseHome" aria-expanded="false" aria-controls="collapseHome">
                    <img src="{{ asset('bundles/cticibour/images/cibour_logo.png') }}" height="25">
                </a>
        </div>
    </div>
</div>

<div class="row" id="toggle-header">
    <div class="col-xs-12 text-center">
        <a role="button" data-toggle="collapse" href="#collapseHome" aria-expanded="false" aria-controls="collapseHome">
            <img src="{{ asset('bundles/cticibour/images/cibour_logo.png') }}" height="25">
        </a>
    </div>
</div>
<script>
    $('#collapseHome .container').height($(window).height());
    $('#collapseHome').on('show.bs.collapse', function () {
        $('#collapseHome .container').height($(window).height());
    });

var container = $('#collapseHome .row');

</script>
