<div style="margin-top: 75px;" class=" col-xs-12 col-md-6 col-md-offset-3 text-justify">                                                                                                                        <br>
    <h3 class="text-up-bold text-center font-mob-1">CONDIZIONI DI VENDITA</h3>


    <br>

    <br>
    <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp; 1. DEFINIZIONI UTILIZZATE NEL DOCUMENTO </h3>


    <br>

    <ul> <li>CTI S.r.l.: società con sede legale in Via Matteotti 5, Menfi (AG) – Italia - P. IVA
            02783110840</li>
        <li> Cibour.com è il negozio virtuale attraverso il quale è possibile acquistare i
            Prodotti.</li>
        <li>Condizioni Generali: sono le presenti condizioni generali di vendita e le eventuali
            future nuove versioni che potranno essere pubblicate su cibour.com.</li>
        <li> Cliente: qualsiasi soggetto (persona fisica o giuridica) che acquista uno o più
            Prodotti attraverso cibour.com, accettando le Condizioni Generali.</li>
        <li> Parti: CTI srl e il Cliente, congiuntamente.</li>
        <li> Contratti di Compravendita: i contratti di compravendita dei Prodotti conclusi, ai
            sensi dell'art. 3. che segue, tra CTI srl e i Clienti attraverso cibour.com.</li>
        <li> Prodotti: i prodotti pubblicati su cibour.com che potranno costituire oggetto di
            futuro Contratto di compravendita.</li>
        <li> Prezzo: il prezzo di vendita dei Prodotti come indicato su cibour.com in
            corrispondenza dei Prodotti medesimi.</li>
        <li> Ordine: l'ordine di acquisto dei Prodotti inviati dai Clienti, in conformità alle
            Condizioni Generali e seguendo la procedura di cui all'art. 6 che segue.</li>
        <li> Conferma d'Ordine: il messaggio e-mail attraverso il quale CTI S.r.l. comunica ai
            Clienti l'accettazione dell' Ordine.</li>  </ul>   <br>
    <br>

    <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;2. OGGETTO</h3>
    <br>


    2.1 Le Condizioni Generali disciplinano tutti i Contratti di Compravendita costituendone
    parte essenziale ed integrante.
    <br>2.2 CTI S.r.l. si riserva il diritto di modificare in ogni momento le Condizioni Generali, fermo
    restando che a ciascun Contratto di Compravendita si intenderanno applicabili quelle
    pubblicate su cibour.com al momento dell'invio del relativo Ordine da parte del Cliente.
    <br>2.3 In caso di contrasto tra le norme di cui alle Condizioni Generali con eventuali altre
    norme specifiche relative al Contratto di Compravendita sempre che pubblicate su
    cibour.com, troveranno applicazione queste ultime.
    <br>
    <br>


    <br>
    <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;3. CONCLUSIONE DEL CONTRATTO DI COMPRAVENDITA</h3>


    <br>
    3.1 CTI S.r.l. si impegna a inviare al Cliente la Conferma d'Ordine entro 3 giorni lavorativi
    dal ricevimento del relativo Ordine da parte dei Cliente.
    <br>3.2 I Contratti di Compravendita si intendono conclusi tra le Parti nel momento in cui il
    Cliente riceve la Conferma d'Ordine, indipendentemente dalla sua effettiva conoscenza
    (fermo restando il diritto di recesso di cui all'art. 9, nelle ipotesi ivi previste). Qualora il
    Cliente non riceva la Conferma d'Ordine entro il termine indicato all'art. 3.1, ciò dovrà
    intendersi quale silenzio rifiuto e pertanto il relativo Ordine dovrà considerarsi rifiutato da
    CTI S.r.l. e quindi privo di qualsivoglia effetto giuridico.
    <br>3.3 Con l'invio dell'Ordine, il Cliente dichiara di avere preso visione di tutte le istruzioni
    inerenti alla modalità di acquisto dei Prodotti di cui all'art. 6 e di aver accettato
    integralmente le Condizioni Generali nonché di aver preso visione di tutte le ulteriori
    informazioni contenute su cibour.com, anche richiamate tramite link.
    <br>3.4 Ciascun Ordine sarà archiviato presso la banca dati di cibour.com, secondo le
    modalità e nel rispetto delle disposizioni di cui al D.lgs. 30.06.2003 n. 196 ("Privacy") e
    sarà accessibile contattando CTI S.r.l. ai riferimenti di cui all'art. 15.                                 <br>
    <br>
    <br>
    <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;4. DISPONIBILITÀ DEI PRODOTTII</h3>


    <br>
    4.1 La tipologia di Prodotti pubblicati su cibour.com e la loro disponibilità potranno variare
    in qualsiasi momento senza che ciò comporti alcuna responsabilità per CTI S.r.l. nei
    confronti dei Clienti.
    <br>4.2 I Prodotti indicati come "non disponibile" non potranno essere ordinati dai Clienti. In
    caso di indisponibilità sopravvenuta di un Prodotto indicato come disponibile al momento
    dell'invio dell'Ordine da parte di un Cliente, CTI S.r.l., fermo restando quanto previsto
    all'art. 3.2, si impegna a indicare a tale Cliente, in una successiva comunicazione a mezzo
    e-mail, i tempi indicativamente previsti per una nuova disponibilità del/i Prodotto/i oggetto
    dell'Ordine inviato dal Cliente. Il Cliente può ritirare l'Ordine entro 48 ore dal ricevimento di
    tale comunicazione da CTI S.r.l. (fermo restando il diritto di recesso di cui all'art. 9, nelle
    ipotesi ivi previste) inviando un messaggio e-mail all'indirizzo specificato all'art. 15. In
    questo caso CTI S.r.l. si impegna a rimborsare il Prezzo nel minor tempo possibile.
    <br>4.3 CTI S.r.l. si riserva la facoltà di non indicare la disponibilità di alcuni Prodotti pubblicati
    su cibour.com.                 <br>
    <br>
    <br>
    <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;5. PREZZO E SPEDIZIONE</h3>


    <br>
    5.1 Il Prezzo è espresso in € (Euro). Il Prezzo applicabile è quello pubblicato su
    cibour.com al momento dell'invio di ciascun Ordine da parte dei rispettivi Clienti.
    <br>5.2 Il Prezzo si intende comprensivo di IVA di Legge.
    <br>5.3 Il Prezzo NON comprende i costi di spedizione. Il Cliente è quindi tenuto a
    corrispondere a CTI S.r.l. un contributo per i costi di spedizione pari a minimo 10€ per ogni
    spedizione, escluso il caso in cui venga chiaramente espresso “spedizione gratuita” (come
    avviene per ordini superiori a 100€).
    <br>5.4 Il contributo previsto al paragrafo che precede sarà comunque indicato, separatamente
    rispetto al Prezzo del Prodotto su cibour.com sì che il Cliente lo conosca prima dell'invio
    dell'eventuale relativo Ordine e sarà pagato dal Cliente, in caso di conclusione del
    Contratto di Compravendita unitamente e contestualmente al pagamento del Prezzo
    secondo le modalità di cui all'art. 7.


    <br>

    <br>

    <br>
    <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;6. MODALITÀ DI INVIO DEGLI ORDINI </h3>
    <br>


    6.1 Per poter effettuare gli Ordini su cibour.com il Cliente deve inserire nell'apposita
    sezione tutti i dati ivi richiesti come "obbligatori" tra cui il proprio codice fiscale ai sensi
    dell’articolo 14 della legge 189 dell’8 novembre 2012 ossia il “divieto di vendita di bevande
    alcoliche ai minori”.
    <br>6.2 Il Cliente potrà acquistare i Prodotti selezionandoli direttamente dalla scheda prodotto
    di cibour.com e inserendoli nel "carrello". Qualora i Prodotti che il Cliente intenda
    acquistare siano più di uno, la stessa procedura di cui sopra dovrà essere ripetuta
    cliccando su "continua l’acquisto". Completata la scelta dei Prodotti, il Cliente dovrà, se
    non vi avesse già provveduto in precedenza, procedere all'inserimento dei propri dati
    come da art. 6.1 e successivamente cliccare su "continua". Verificata la correttezza dei
    dati relativi al Prodotto/i scelto/i e delle "informazioni di spedizione", il Cliente potrà
    procedere all'invio dell'Ordine cliccando su "effettua l’ordine".
    <br>

    <br>



    <br>
    <h3 class="text-up-bold font-mob-1"> &nbsp;&nbsp;7. MODALITÀ DI PAGAMENTO </h3>


    <br>
    7.1 CTI S.r.l. si riserva la facoltà di variare, in ogni momento, i mezzi di pagamento
    utilizzabili dai Clienti, fermo restando che si intenderanno utilizzabili quelli pubblicati su
    cibour.com al momento dell'invio degli Ordini da parte dei rispettivi Clienti.
    <br>7.2 CTI S.r.l. invierà via e-mail ai Clienti con partita IVA regolare fattura (a fronte della
    fornitura completa dei dati societari). Ai fini dell'emissione della fattura, faranno fede le
    informazioni ivi fornite dal Cliente: nessuna variazione della fattura sarà possibile dopo la
    sua emissione da parte di CTI S.r.l.
    <br>7.3 Le informazioni ricevute da CTI S.r.l., in forza del presente articolo 7, saranno utilizzate
    esclusivamente per completare le procedure relative alla vendita dei Prodotti e per le
    procedure di rimborso in caso di esercizio del diritto di recesso di cui all'art. 9. da parte dei
    Clienti.
    Il Cliente potrà effettuare il pagamento del Prezzo e del contributo per i costi di spedizione
    di cui all'art. 5 attraverso due modalità:
    <br><b class="text-up-bold-2">PAYPAL</b><br>
    Il pagamento tramite PayPal verrà effettuato a favore di CTI S.r.l.
    A conclusione dell'ordine su cibour.com, il Cliente viene indirizzato alla pagina di login di
    PayPal.
    L'importo relativo all'ordine viene addebitato sul conto PayPal al momento
    dell'acquisizione dell'ordine.
    In caso di annullamento dell'ordine, sia da parte del Cliente sia nel caso di mancata
    accettazione dello stesso da parte di CTI S.r.l., l'importo sarà rimborsato sul conto PayPal
    del Cliente massimo entro 40 gg. dalla data in cui CTI S.r.l. è venuta a conoscenza della
    causa che genera il diritto al rimborso.
    Una volta effettuato l'annullamento della transazione, in nessun caso CTI S.r.l. può essere
    ritenuta responsabile per eventuali danni, diretti o indiretti, provocati da ritardo nel
    mancato svincolo dell'importo impegnato da parte di PayPal.
    In nessun momento della procedura di acquisto CTI S.r.l. é in grado di conoscere le
    informazioni finanziarie del Cliente. Non essendoci trasmissione dati, non vi é la possibilità
    che questi dati siano intercettati. Nessun archivio informatico di CTI S.r.l. contiene, né
    conserva, tali dati.
    Per ogni transazione eseguita con il conto PayPal il Cliente riceverà un'email di conferma
    da PayPal.
    <br><b class="text-up-bold-2">CARTA DI CREDITO</b><br>
    Nei casi di acquisto della merce con modalità di pagamento Carta di Credito, la
    transazione sarà garantita da circuito PayPal cui si sarà ridirezionati contestualmente alla
    chiusura dell’ordine.
    CTI S.r.l. si riserva la facoltà di richiedere al Cliente informazioni integrative (ad es.
    numero di telefono fisso) o l'invio di copia di documenti comprovanti la titolarità della Carta
    utilizzata. In mancanza della documentazione richiesta, CTI S.r.l. si riserva la facoltà di
    non accettare l'ordine.
    In nessun caso CTI S.r.l. può quindi essere ritenuta responsabile per eventuale uso
    fraudolento e indebito di carte di credito da parte di terzi all'atto del pagamento di prodotti
    acquistati sul cibour.com.
    <br>

    <br>



    <br>
    <h3 class="text-up-bold font-mob-1"> &nbsp;&nbsp;8. SPEDIZIONE E TEMPI DI CONSEGNA </h3>


    <br>
    8.1 Per "spedizione" dei Prodotti da parte di CTI S.r.l. si intende, ai sensi del presente
    regolamento contrattuale, la consegna degli stessi al corriere. Una volta ricevuto il
    pagamento, CTI S.r.l. si impegna a spedire i Prodotti rispettando i seguenti tempi: (i) nel
    caso di Prodotti disponibili (come definiti all'art. 4.): entro 5 giorni lavorativi; (ii) nel caso di
    Prodotti disponibili divenuti indisponibili (come definiti all'art. 4.2): entro 5 giorni lavorativi
    dal momento in cui tale Prodotto o tali Prodotti sono nuovamente disponibili presso i
    magazzini di CTI S.r.l., fermo restando il diritto del Cliente di ritirare l'Ordine ai sensi del
    medesimo art. 4.2.
    <br>8.2 CTI S.r.l. garantisce la spedizione dei Prodotti tramite corriere espresso (GLS o altro)
    oppure direttamente con mezzi propri. I Prodotti sono spediti da CTI S.r.l., e consegnati
    dal Corriere, all'indirizzo indicato dai Clienti al momento dell’inserimento dei dati di cui
    all'art. 6.1 o a diverso indirizzo indicato al momento dell'invio dell'Ordine.
    <br>8.3 Ai sensi di legge, CTI S.r.l. perfezionerà la consegna dei Prodotti nel momento della
    loro rispettiva consegna al Corriere, ma farà tutto quanto nelle sue possibilità affinché i
    Prodotti spediti ai sensi degli artt. 8.1 e 8.2 siano consegnati dal corriere entro i termini
    indicati nella sezione "Spedizioni".
    <br>8.4 I termini di consegna di cui all'art. 8.1, non possono, in ogni caso, essere ritenuti
    vincolanti per CTI S.r.l. che non potrà comunque essere ritenuta in alcun modo
    responsabile per il loro mancato rispetto.
    <br>8.5 I Clienti, o altri soggetti incaricati dai Clienti che si trovino all'indirizzo indicato per la
    consegna dei Prodotti nella Conferma d'Ordine, sono tenuti a verificare, al momento della
    consegna, che: (i) i Prodotti corrispondano a quanto indicato nel documento di trasporto
    (DDT) del Corriere sia per numero che per tipologia; (ii) l'imballaggio/ confezione dei
    Prodotti sia integra, non danneggiata, né bagnata o comunque alterata, anche nei
    materiali di chiusura.
    <br>8.6 Qualsiasi danno all'imballaggio/confezione dei Prodotti deve essere immediatamente
    contestato dal Cliente mediante l'apposizione di una riserva di controllo scritta sulla prova
    di avvenuta consegna del Corriere. Resta inteso che, una volta firmato il documento del
    Corriere senza alcuna contestazione, il Cliente non potrà più sollevare alcuna
    contestazione a CTI S.r.l. con riferimento al Prodotto consegnato.
    <br>8.7 I Prodotti possono essere consegnati dal Corriere solo ai Clienti o a persone da questi
    autorizzate; il soggetto a cui i Prodotti sono consegnati deve apporre una firma per
    certificare l'avvenuta consegna. Il Corriere non effettua consegne presso caselle postali o
    mediante inserimento dei Prodotti in buche delle lettere o altri luoghi similari.
    <br><br><br>

    <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;
        9. DIRITTO DI RECESSO            </h3>

    <br>
    9.1 Qualora i Clienti siano "consumatori" (ossia una persona fisica che agisce per scopi
    estranei all'attività imprenditoriale, commerciale, artigianale o professionale eventualmente
    svolta), i Clienti hanno diritto, ai sensi e per gli effetti di cui all'art. 64 del D. Lgs. n.
    206/2005, di recedere dai Contratti di Compravendita entro 14 giorni lavorativi dalla data di
    ricevimento dei Prodotti oggetto dei Contratti di Compravendita. Il Diritto di recesso deve
    essere esercitato dai Clienti inviando a CTI S.r.l. una comunicazione scritta, a mezzo
    e-mail all'indirizzo di cui all'art. 15., contenente:
    <br>(i) la manifestazione di volontà di avvalersi del diritto di recesso;
    <br>(ii) l’indicazione dell’Ordine che ha dato luogo al Contratto di Compravendita dal quale
    intendono recedere.
    <br>9.2 In caso di esercizio da parte dei Clienti del diritto di recesso di cui al presente art. 9.:
    <br>(i) i Clienti si impegnano a restituire i Prodotti entro 7 giorni lavorativi dalla data della
    comunicazione di recesso di cui all’art. 9.1;
    <br>(ii) tutti i costi connessi alla restituzione dei Prodotti sono interamente a carico dei Clienti;
    <br>(iii) CTI S.r.l. si impegna a rimborsare il Prezzo nel minor tempo possibile, e comunque
    entro 30 giorni dalla data di ricevimento della comunicazione di recesso di cui all’art. 9.1, a
    condizione che:
    <br>- i Prodotti siano stati restituiti e siano integri;
    <br>- sia restituito anche l’imballaggio/confezione originale dei Prodotti e lo stesso sia integro;
    <br>- siano restituiti anche eventuali accessori e gli stessi siano integri;
    <br>- i Prodotti non siano stati utilizzati;
    CTI S.r.l. comunicherà ai Clienti le modalità di rimborso del Prezzo e potrà, a tal fine,
    richiedere ai Clienti i loro dati bancari (IBAN e intestatario del c/c).
    <br>9.3 Qualora i Clienti esercitino il diritto di recesso in modo non conforme alle modalità e
    termini di cui al presente articolo 9, i Clienti non hanno diritto al rimborso del Prezzo.

    <br><br><br>

    <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;
        10. VIZI / DIFFORMITÀ DEI PRODOTTI            </h3>

    <br>
    Ai Clienti "consumatori" (come definiti all'art. 9.1) sono riconosciuti i diritti del consumatore
    di cui all'art. 130 del D.lgs 206/05; tali diritti devono essere esercitati nei termini di cui
    dall'art. 132 del medesimo D.lgs 206/05.

    <br><br><br>

    <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;
        11. PRIVACY          </h3>

    <br>
    Il titolare dei trattamenti dei dati raccolti tramite cibour.com è CTI S.r.l. che dichiara e
    garantisce che i dati personali dei Clienti saranno trattati in conformità alle disposizioni di
    cui al D.Lgs. 196/03, e successive modifiche.
    I responsabili del trattamento dei dati dei clienti sono i seguenti:
    <br>- Paypal, in quanto gestore dei sistemi di pagamento online;
    <br>- GLS o altro corriere espresso che si occupa del trattamento dei dati necessari ad
    eseguire le attività di spedizione, consegna e restituzione dei prodotti acquistati su
    cibour.com.



    <br><br><br>

    <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;
        12. ERRORI E/O INESATTEZZE SU CIBOUR.COM           </h3>

    <br>
    12.1 CTI S.r.l. si impegna a verificare costantemente cibour.com al fine di evitare errori o
    inesattezze. Tuttavia, è possibile che cibour.com contenga o possa nel tempo contenere,
    errori, inesattezze o omissioni.
    <br>12.2 CTI S.r.l. si riserva pertanto il diritto di correggere gli errori, le inesattezze o le
    omissioni contenute su cibour.com anche dopo che sia stato inviato un Ordine e altresì si
    riserva di cambiare o aggiornare le informazioni in qualsiasi momento senza preventiva
    comunicazione ai Clienti.


    <br><br><br>

    <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;
        13. PROPRIETÀ INTELLETTUALE           </h3>

    <br>
    Tutti i diritti di proprietà intellettuale connessi a cibour.com (compresi i contenuti) sono di
    titolarità esclusiva di CTI S.r.l. cibour.com e i suoi contenuti non possono essere riprodotti
    né integralmente né parzialmente, trasferiti con mezzi elettronici o convenzionali,
    modificati, collegati e utilizzati per qualsivoglia fine senza il previo consenso scritto di CTI
    S.r.l.



    <br><br><br>

    <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;
        14. LEGGE APPLICABILE            </h3>

    <br>

    14.1 Le Condizioni Generali e i Contratti di Compravendita sono disciplinati dal diritto
    italiano (e in particolare dal Decreto Legislativo 206 del 06/09/2005 – che agli artt. da 50 a
    67 disciplina i contratti a distanza - e dal Decreto Legislativo 70 del 09/04/2003 in materia
    di commercio elettronico) e alla luce di questo devono essere interpretate.
    <br>14.2 Per qualsiasi controversia che possa sorgere in connessione alle Condizioni Generali
    e/o ai Contratti di Compravendita sarà competente in via esclusiva il foro di MILANO (MI),
    ove non diversamente disposto in forma imperativa dalla legge.


    <br><br><br>

    <h3 class="text-up-bold font-mob-1">&nbsp;&nbsp;
        15. CONTATTI            </h3>

    <br>
    Per ulteriori informazioni e assistenza su cibour.com o sulle modalità di acquisto su
    cibour.com o sui Contratti di Compravendita, i Clienti possono contattare la sede
    commerciale di CTI S.r.l. ai seguenti recapiti:
    Corso Porta Vittoria 18 - 20122 Milano
    <br><b class="text-up-bold-2 font-mob-2">Telefono e Fax: +39 02 87392854</b>
    <br><b class="text-up-bold-2 font-mob-2"><a href="mailto: info@cibour.com" >Email: info@cibour.com</a></b>
    <br>

    <br>

    <br>

    <br>
</div>