<div style="margin-top: 100px;" class="col-xs-12">
CONDIZIONI DI VENDITA                                                                                            <br>
                                                                                                                 <br>
1. DEFINIZIONI UTILIZZATE NEL DOCUMENTO                                                                          <br>
                                                                                                                 <br>
 CTI S.r.l.: società con sede legale in Via Matteotti 5, Menfi (AG) – Italia - P. IVA                           <br>
                                                                                                                 <br>
02783110840                                                                                                      <br>
                                                                                                                 <br>
 Cibour.com è il negozio virtuale attraverso il quale è possibile acquistare i                                  <br>
                                                                                                                 <br>
Prodotti.                                                                                                        <br>
                                                                                                                 <br>
 Condizioni Generali: sono le presenti condizioni generali di vendita e le eventuali                            <br>
                                                                                                                 <br>
future nuove versioni che potranno essere pubblicate su cibour.com.                                              <br>
                                                                                                                 <br>
 Cliente: qualsiasi soggetto (persona fisica o giuridica) che acquista uno o più                                <br>
                                                                                                                 <br>
Prodotti attraverso cibour.com, accettando le Condizioni Generali.                                               <br>
                                                                                                                 <br>
 Parti: CTI srl e il Cliente, congiuntamente.                                                                   <br>
                                                                                                                 <br>
 Contratti di Compravendita: i contratti di compravendita dei Prodotti conclusi, ai                             <br>
                                                                                                                 <br>
sensi dell&#39;art. 3. che segue, tra CTI srl e i Clienti attraverso cibour.com.                                 <br>
                                                                                                                 <br>
 Prodotti: i prodotti pubblicati su cibour.com che potranno costituire oggetto di                               <br>
                                                                                                                 <br>
futuro Contratto di compravendita.                                                                               <br>
                                                                                                                 <br>
 Prezzo: il prezzo di vendita dei Prodotti come indicato su cibour.com in                                       <br>
                                                                                                                 <br>
corrispondenza dei Prodotti medesimi.                                                                            <br>
                                                                                                                 <br>
 Ordine: l&#39;ordine di acquisto dei Prodotti inviati dai Clienti, in conformità alle                          <br>
                                                                                                                 <br>
Condizioni Generali e seguendo la procedura di cui all&#39;art. 6 che segue.                                     <br>
                                                                                                                 <br>
 Conferma d&#39;Ordine: il messaggio e-mail attraverso il quale CTI S.r.l. comunica ai                          <br>
                                                                                                                 <br>
Clienti l&#39;accettazione dell&#39; Ordine.                                                                     <br>
                                                                                                                 <br>
2. OGGETTO                                                                                                       <br>
                                                                                                                 <br>
2.1 Le Condizioni Generali disciplinano tutti i Contratti di Compravendita costituendone                         <br>
                                                                                                                 <br>
parte essenziale ed integrante.                                                                                  <br>
                                                                                                                 <br>
2.2 CTI S.r.l. si riserva il diritto di modificare in ogni momento le Condizioni Generali, fermo                 <br>
                                                                                                                 <br>
restando che a ciascun Contratto di Compravendita si intenderanno applicabili quelle                             <br>
                                                                                                                 <br>
pubblicate su cibour.com al momento dell&#39;invio del relativo Ordine da parte del Cliente.                     <br>
                                                                                                                 <br>
2.3 In caso di contrasto tra le norme di cui alle Condizioni Generali con eventuali altre                        <br>
                                                                                                                 <br>
norme specifiche relative al Contratto di Compravendita sempre che pubblicate su                                 <br>
                                                                                                                 <br>
cibour.com, troveranno applicazione queste ultime.                                                               <br>
                                                                                                                 <br>
3. CONCLUSIONE DEL CONTRATTO DI COMPRAVENDITA                                                                    <br>
                                                                                                                 <br>
3.1 CTI S.r.l. si impegna a inviare al Cliente la Conferma d&#39;Ordine entro 3 giorni lavorativi                <br>
                                                                                                                 <br>
dal ricevimento del relativo Ordine da parte dei Cliente.                                                        <br>
                                                                                                                 <br>
3.2 I Contratti di Compravendita si intendono conclusi tra le Parti nel momento in cui il                        <br>
                                                                                                                 <br>
Cliente riceve la Conferma d&#39;Ordine, indipendentemente dalla sua effettiva conoscenza                        <br>
                                                                                                                 <br>
(fermo restando il diritto di recesso di cui all&#39;art. 9, nelle ipotesi ivi previste). Qualora il             <br>
                                                                                                                 <br>
Cliente non riceva la Conferma d&#39;Ordine entro il termine indicato all&#39;art. 3.1, ciò dovrà                <br>
                                                                                                                 <br>
intendersi quale silenzio rifiuto e pertanto il relativo Ordine dovrà considerarsi rifiutato da                  <br>
                                                                                                                 <br>
CTI S.r.l. e quindi privo di qualsivoglia effetto giuridico.                                                     <br>
                                                                                                                 <br>
3.3 Con l&#39;invio dell&#39;Ordine, il Cliente dichiara di avere preso visione di tutte le istruzioni           <br>
                                                                                                                 <br>
inerenti alla modalità di acquisto dei Prodotti di cui all&#39;art. 6 e di aver accettato                        <br>
                                                                                                                 <br>
integralmente le Condizioni Generali nonché di aver preso visione di tutte le ulteriori                          <br>
                                                                                                                 <br>
informazioni contenute su cibour.com, anche richiamate tramite link.                                             <br>
                                                                                                                 <br>
3.4 Ciascun Ordine sarà archiviato presso la banca dati di cibour.com, secondo le                                <br>
                                                                                                                 <br>
modalità e nel rispetto delle disposizioni di cui al D.lgs. 30.06.2003 n. 196 (&quot;Privacy&quot;) e            <br>
                                                                                                                 <br>
sarà accessibile contattando CTI S.r.l. ai riferimenti di cui all&#39;art. 15.                                   <br>
                                                                                                                 <br>
4. DISPONIBILITÀ DEI PRODOTTI                                                                                    <br>
                                                                                                                 <br>
4.1 La tipologia di Prodotti pubblicati su cibour.com e la loro disponibilità potranno variare                   <br>
                                                                                                                 <br>
in qualsiasi momento senza che ciò comporti alcuna responsabilità per CTI S.r.l. nei                             <br>
                                                                                                                 <br>
confronti dei Clienti.                                                                                           <br>
                                                                                                                 <br>
4.2 I Prodotti indicati come &quot;non disponibile&quot; non potranno essere ordinati dai Clienti. In            <br>
                                                                                                                 <br>
caso di indisponibilità sopravvenuta di un Prodotto indicato come disponibile al momento                         <br>
                                                                                                                 <br>
dell&#39;invio dell&#39;Ordine da parte di un Cliente, CTI S.r.l., fermo restando quanto previsto                <br>
                                                                                                                 <br>
all&#39;art. 3.2, si impegna a indicare a tale Cliente, in una successiva comunicazione a mezzo                  <br>
                                                                                                                 <br>
e-mail, i tempi indicativamente previsti per una nuova disponibilità del/i Prodotto/i oggetto                    <br>
                                                                                                                 <br>
dell&#39;Ordine inviato dal Cliente. Il Cliente può ritirare l&#39;Ordine entro 48 ore dal ricevimento di        <br>
                                                                                                                 <br>
tale comunicazione da CTI S.r.l. (fermo restando il diritto di recesso di cui all&#39;art. 9, nelle              <br>
                                                                                                                 <br>
ipotesi ivi previste) inviando un messaggio e-mail all&#39;indirizzo specificato all&#39;art. 15. In             <br>
                                                                                                                 <br>
questo caso CTI S.r.l. si impegna a rimborsare il Prezzo nel minor tempo possibile.                              <br>
                                                                                                                 <br>
4.3 CTI S.r.l. si riserva la facoltà di non indicare la disponibilità di alcuni Prodotti pubblicati              <br>
                                                                                                                 <br>
su cibour.com.                                                                                                   <br>
                                                                                                                 <br>
5. PREZZO E SPEDIZIONE                                                                                           <br>
                                                                                                                 <br>
5.1 Il Prezzo è espresso in € (Euro). Il Prezzo applicabile è quello pubblicato su                               <br>
                                                                                                                 <br>
cibour.com al momento dell&#39;invio di ciascun Ordine da parte dei rispettivi Clienti.                          <br>
                                                                                                                 <br>
5.2 Il Prezzo si intende comprensivo di IVA di Legge.                                                            <br>
                                                                                                                 <br>
5.3 Il Prezzo NON comprende i costi di spedizione. Il Cliente è quindi tenuto a                                  <br>
                                                                                                                 <br>
corrispondere a CTI S.r.l. un contributo per i costi di spedizione pari a minimo 10€ per ogni                    <br>
                                                                                                                 <br>
spedizione, escluso il caso in cui venga chiaramente espresso “spedizione gratuita” (come                        <br>
                                                                                                                 <br>
avviene per ordini superiori a 100€).                                                                            <br>
                                                                                                                 <br>
5.4 Il contributo previsto al paragrafo che precede sarà comunque indicato,                                      <br>
                                                                                                                 <br>
separatamente rispetto al Prezzo del Prodotto su cibour.com sì che il Cliente lo conosca                         <br>
                                                                                                                 <br>
prima dell&#39;invio dell&#39;eventuale relativo Ordine e sarà pagato dal Cliente, in caso di                    <br>
                                                                                                                 <br>
conclusione del Contratto di Compravendita unitamente e contestualmente al pagamento                             <br>
                                                                                                                 <br>
del Prezzo secondo le modalità di cui all&#39;art. 7.                                                            <br>
                                                                                                                 <br>
6. MODALITÀ DI INVIO DEGLI ORDINI                                                                                <br>
                                                                                                                 <br>
6.1 Per poter effettuare gli Ordini su cibour.com il Cliente deve inserire nell&#39;apposita                     <br>
                                                                                                                 <br>
sezione tutti i dati ivi richiesti come &quot;obbligatori&quot; tra cui il proprio codice fiscale ai sensi       <br>
                                                                                                                 <br>
dell’articolo 14 della legge 189 dell’8 novembre 2012 ossia il “divieto di vendita di bevande                    <br>
                                                                                                                 <br>
alcoliche ai minori”.                                                                                            <br>
                                                                                                                 <br>
6.2 Il Cliente potrà acquistare i Prodotti selezionandoli direttamente dalla scheda prodotto                     <br>
                                                                                                                 <br>
di cibour.com e inserendoli nel &quot;carrello&quot;. Qualora i Prodotti che il Cliente intenda                  <br>
                                                                                                                 <br>
acquistare siano più di uno, la stessa procedura di cui sopra dovrà essere ripetuta                              <br>
                                                                                                                 <br>
cliccando su &quot;continua l’acquisto&quot;. Completata la scelta dei Prodotti, il Cliente dovrà, se            <br>
                                                                                                                 <br>
non vi avesse già provveduto in precedenza, procedere all&#39;inserimento dei propri dati                        <br>
                                                                                                                 <br>
come da art. 6.1 e successivamente cliccare su &quot;continua&quot;. Verificata la correttezza dei               <br>
                                                                                                                 <br>
dati relativi al Prodotto/i scelto/i e delle &quot;informazioni di spedizione&quot;, il Cliente potrà            <br>
                                                                                                                 <br>
procedere all&#39;invio dell&#39;Ordine cliccando su &quot;effettua l’ordine&quot;.                              <br>
                                                                                                                 <br>
7. MODALITÀ DI PAGAMENTO                                                                                         <br>
                                                                                                                 <br>
7.1 CTI S.r.l. si riserva la facoltà di variare, in ogni momento, i mezzi di pagamento                           <br>
                                                                                                                 <br>
utilizzabili dai Clienti, fermo restando che si intenderanno utilizzabili quelli pubblicati su                   <br>
                                                                                                                 <br>
cibour.com al momento dell&#39;invio degli Ordini da parte dei rispettivi Clienti.                               <br>
                                                                                                                 <br>
7.2 CTI S.r.l. invierà via e-mail ai Clienti con partita IVA regolare fattura (a fronte della                    <br>
                                                                                                                 <br>
fornitura completa dei dati societari). Ai fini dell&#39;emissione della fattura, faranno fede le                <br>
                                                                                                                 <br>
informazioni ivi fornite dal Cliente: nessuna variazione della fattura sarà possibile dopo la                    <br>
                                                                                                                 <br>
sua emissione da parte di CTI S.r.l.                                                                             <br>
                                                                                                                 <br>
7.3 Le informazioni ricevute da CTI S.r.l., in forza del presente articolo 7, saranno utilizzate                 <br>
                                                                                                                 <br>
esclusivamente per completare le procedure relative alla vendita dei Prodotti e per le                           <br>
                                                                                                                 <br>
procedure di rimborso in caso di esercizio del diritto di recesso di cui all&#39;art. 9. da parte dei            <br>
                                                                                                                 <br>
Clienti.                                                                                                         <br>
                                                                                                                 <br>
Il Cliente potrà effettuare il pagamento del Prezzo e del contributo per i costi di spedizione                   <br>
                                                                                                                 <br>
di cui all&#39;art. 5 attraverso due modalità:                                                                   <br>
                                                                                                                 <br>
PAYPAL                                                                                                           <br>
                                                                                                                 <br>
Il pagamento tramite PayPal verrà effettuato a favore di CTI S.r.l.                                              <br>
                                                                                                                 <br>
A conclusione dell&#39;ordine su cibour.com, il Cliente viene indirizzato alla pagina di login di                <br>
                                                                                                                 <br>
PayPal.                                                                                                          <br>
                                                                                                                 <br>
L&#39;importo relativo all&#39;ordine viene addebitato sul conto PayPal al momento                               <br>
                                                                                                                 <br>
dell&#39;acquisizione dell&#39;ordine.                                                                           <br>
                                                                                                                 <br>
In caso di annullamento dell&#39;ordine, sia da parte del Cliente sia nel caso di mancata                        <br>
                                                                                                                 <br>
accettazione dello stesso da parte di CTI S.r.l., l&#39;importo sarà rimborsato sul conto PayPal                 <br>
                                                                                                                 <br>
del Cliente massimo entro 40 gg. dalla data in cui CTI S.r.l. è venuta a conoscenza della                        <br>
                                                                                                                 <br>
causa che genera il diritto al rimborso.                                                                         <br>
                                                                                                                 <br>
Una volta effettuato l&#39;annullamento della transazione, in nessun caso CTI S.r.l. può essere                  <br>
                                                                                                                 <br>
ritenuta responsabile per eventuali danni, diretti o indiretti, provocati da ritardo nel                         <br>
                                                                                                                 <br>
mancato svincolo dell&#39;importo impegnato da parte di PayPal.                                                  <br>
                                                                                                                 <br>
In nessun momento della procedura di acquisto CTI S.r.l. é in grado di conoscere le                              <br>
                                                                                                                 <br>
informazioni finanziarie del Cliente. Non essendoci trasmissione dati, non vi é la possibilità                   <br>
                                                                                                                 <br>
che questi dati siano intercettati. Nessun archivio informatico di CTI S.r.l. contiene, né                       <br>
                                                                                                                 <br>
conserva, tali dati.                                                                                             <br>
                                                                                                                 <br>
Per ogni transazione eseguita con il conto PayPal il Cliente riceverà un&#39;email di conferma                   <br>
                                                                                                                 <br>
da PayPal.                                                                                                       <br>
                                                                                                                 <br>
CARTA DI CREDITO                                                                                                 <br>
                                                                                                                 <br>
Nei casi di acquisto della merce con modalità di pagamento Carta di Credito, la                                  <br>
                                                                                                                 <br>
transazione sarà garantita da circuito PayPal cui si sarà ridirezionati contestualmente alla                     <br>
                                                                                                                 <br>
chiusura dell’ordine.                                                                                            <br>
                                                                                                                 <br>
CTI S.r.l. si riserva la facoltà di richiedere al Cliente informazioni integrative (ad es.                       <br>
                                                                                                                 <br>
numero di telefono fisso) o l&#39;invio di copia di documenti comprovanti la titolarità della Carta              <br>
                                                                                                                 <br>
utilizzata. In mancanza della documentazione richiesta, CTI S.r.l. si riserva la facoltà di                      <br>
                                                                                                                 <br>
non accettare l&#39;ordine.                                                                                      <br>
                                                                                                                 <br>
In nessun caso CTI S.r.l. può quindi essere ritenuta responsabile per eventuale uso                              <br>
                                                                                                                 <br>
fraudolento e indebito di carte di credito da parte di terzi all&#39;atto del pagamento di prodotti              <br>
                                                                                                                 <br>
acquistati sul cibour.com.                                                                                       <br>
                                                                                                                 <br>
8. SPEDIZIONE E TEMPI DI CONSEGNA                                                                                <br>
                                                                                                                 <br>
8.1 Per &quot;spedizione&quot; dei Prodotti da parte di CTI S.r.l. si intende, ai sensi del presente             <br>
                                                                                                                 <br>
regolamento contrattuale, la consegna degli stessi al corriere. Una volta ricevuto il                            <br>
                                                                                                                 <br>
pagamento, CTI S.r.l. si impegna a spedire i Prodotti rispettando i seguenti tempi: (i) nel                      <br>
                                                                                                                 <br>
caso di Prodotti disponibili (come definiti all&#39;art. 4.): entro 5 giorni lavorativi; (ii) nel caso di        <br>
                                                                                                                 <br>
Prodotti disponibili divenuti indisponibili (come definiti all&#39;art. 4.2): entro 5 giorni lavorativi          <br>
                                                                                                                 <br>
dal momento in cui tale Prodotto o tali Prodotti sono nuovamente disponibili presso i                            <br>
                                                                                                                 <br>
magazzini di CTI S.r.l., fermo restando il diritto del Cliente di ritirare l&#39;Ordine ai sensi del             <br>
                                                                                                                 <br>
medesimo art. 4.2.                                                                                               <br>
                                                                                                                 <br>
8.2 CTI S.r.l. garantisce la spedizione dei Prodotti tramite corriere espresso (GLS o altro)                     <br>
                                                                                                                 <br>
oppure direttamente con mezzi propri. I Prodotti sono spediti da CTI S.r.l., e consegnati                        <br>
                                                                                                                 <br>
dal Corriere, all&#39;indirizzo indicato dai Clienti al momento dell’inserimento dei dati di cui                 <br>
                                                                                                                 <br>
all&#39;art. 6.1 o a diverso indirizzo indicato al momento dell&#39;invio dell&#39;Ordine.                       <br>
                                                                                                                 <br>
8.3 Ai sensi di legge, CTI S.r.l. perfezionerà la consegna dei Prodotti nel momento della                        <br>
                                                                                                                 <br>
loro rispettiva consegna al Corriere, ma farà tutto quanto nelle sue possibilità affinché i                      <br>
                                                                                                                 <br>
Prodotti spediti ai sensi degli artt. 8.1 e 8.2 siano consegnati dal corriere entro i termini                    <br>
                                                                                                                 <br>
indicati nella sezione &quot;Spedizioni&quot;.                                                                   <br>
                                                                                                                 <br>
8.4 I termini di consegna di cui all&#39;art. 8.1, non possono, in ogni caso, essere ritenuti                    <br>
                                                                                                                 <br>
vincolanti per CTI S.r.l. che non potrà comunque essere ritenuta in alcun modo                                   <br>
                                                                                                                 <br>
responsabile per il loro mancato rispetto.                                                                       <br>
                                                                                                                 <br>
8.5 I Clienti, o altri soggetti incaricati dai Clienti che si trovino all&#39;indirizzo indicato per la          <br>
                                                                                                                 <br>
consegna dei Prodotti nella Conferma d&#39;Ordine, sono tenuti a verificare, al momento della                    <br>
                                                                                                                 <br>
consegna, che: (i) i Prodotti corrispondano a quanto indicato nel documento di trasporto                         <br>
                                                                                                                 <br>
(DDT) del Corriere sia per numero che per tipologia; (ii) l&#39;imballaggio/ confezione dei                      <br>
                                                                                                                 <br>
Prodotti sia integra, non danneggiata, né bagnata o comunque alterata, anche nei                                 <br>
                                                                                                                 <br>
materiali di chiusura.                                                                                           <br>
                                                                                                                 <br>
8.6 Qualsiasi danno all&#39;imballaggio/confezione dei Prodotti deve essere immediatamente                       <br>
                                                                                                                 <br>
contestato dal Cliente mediante l&#39;apposizione di una riserva di controllo scritta sulla prova                <br>
                                                                                                                 <br>
di avvenuta consegna del Corriere. Resta inteso che, una volta firmato il documento del                          <br>
                                                                                                                 <br>
Corriere senza alcuna contestazione, il Cliente non potrà più sollevare alcuna                                   <br>
                                                                                                                 <br>
contestazione a CTI S.r.l. con riferimento al Prodotto consegnato.                                               <br>
                                                                                                                 <br>
8.7 I Prodotti possono essere consegnati dal Corriere solo ai Clienti o a persone da questi                      <br>
                                                                                                                 <br>
autorizzate; il soggetto a cui i Prodotti sono consegnati deve apporre una firma per                             <br>
                                                                                                                 <br>
certificare l&#39;avvenuta consegna. Il Corriere non effettua consegne presso caselle postali o                  <br>
                                                                                                                 <br>
mediante inserimento dei Prodotti in buche delle lettere o altri luoghi similari.                                <br>
                                                                                                                 <br>
9. DIRITTO DI RECESSO                                                                                            <br>
                                                                                                                 <br>
9.1 Qualora i Clienti siano &quot;consumatori&quot; (ossia una persona fisica che agisce per scopi               <br>
                                                                                                                 <br>
estranei all&#39;attività imprenditoriale, commerciale, artigianale o professionale eventualmente                <br>
                                                                                                                 <br>
svolta), i Clienti hanno diritto, ai sensi e per gli effetti di cui all&#39;art. 64 del D. Lgs. n.               <br>
                                                                                                                 <br>
206/2005, di recedere dai Contratti di Compravendita entro 14 giorni lavorativi dalla data di                    <br>
                                                                                                                 <br>
ricevimento dei Prodotti oggetto dei Contratti di Compravendita. Il Diritto di recesso deve                      <br>
                                                                                                                 <br>
essere esercitato dai Clienti inviando a CTI S.r.l. una comunicazione scritta, a mezzo e-                        <br>
                                                                                                                 <br>
mail all&#39;indirizzo di cui all&#39;art. 15., contenente:                                                      <br>
                                                                                                                 <br>
(i) la manifestazione di volontà di avvalersi del diritto di recesso;                                            <br>
                                                                                                                 <br>
(ii) l’indicazione dell’Ordine che ha dato luogo al Contratto di Compravendita dal quale                         <br>
                                                                                                                 <br>
intendono recedere.                                                                                              <br>
                                                                                                                 <br>
9.2 In caso di esercizio da parte dei Clienti del diritto di recesso di cui al presente art. 9.:                 <br>
                                                                                                                 <br>
(i) i Clienti si impegnano a restituire i Prodotti entro 7 giorni lavorativi dalla data della                    <br>
                                                                                                                 <br>
comunicazione di recesso di cui all’art. 9.1;                                                                    <br>
                                                                                                                 <br>
(ii) tutti i costi connessi alla restituzione dei Prodotti sono interamente a carico dei Clienti;                <br>
                                                                                                                 <br>
(iii) CTI S.r.l. si impegna a rimborsare il Prezzo nel minor tempo possibile, e comunque                         <br>
                                                                                                                 <br>
entro 30 giorni dalla data di ricevimento della comunicazione di recesso di cui all’art. 9.1, a                  <br>
                                                                                                                 <br>
condizione che:                                                                                                  <br>
                                                                                                                 <br>
- i Prodotti siano stati restituiti e siano integri;                                                             <br>
                                                                                                                 <br>
- sia restituito anche l’imballaggio/confezione originale dei Prodotti e lo stesso sia integro;                  <br>
                                                                                                                 <br>
- siano restituiti anche eventuali accessori e gli stessi siano integri;                                         <br>
                                                                                                                 <br>
- i Prodotti non siano stati utilizzati;                                                                         <br>
                                                                                                                 <br>
CTI S.r.l. comunicherà ai Clienti le modalità di rimborso del Prezzo e potrà, a tal fine,                        <br>
                                                                                                                 <br>
richiedere ai Clienti i loro dati bancari (IBAN e intestatario del c/c).                                         <br>
                                                                                                                 <br>
9.3 Qualora i Clienti esercitino il diritto di recesso in modo non conforme alle modalità e                      <br>
                                                                                                                 <br>
termini di cui al presente articolo 9, i Clienti non hanno diritto al rimborso del Prezzo.                       <br>
                                                                                                                 <br>
10. VIZI / DIFFORMITÀ DEI PRODOTTI                                                                               <br>
                                                                                                                 <br>
Ai Clienti &quot;consumatori&quot; (come definiti all&#39;art. 9.1) sono riconosciuti i diritti del consumatore  <br>
                                                                                                                 <br>
di cui all&#39;art. 130 del D.lgs 206/05; tali diritti devono essere esercitati nei termini di cui               <br>
                                                                                                                 <br>
dall&#39;art. 132 del medesimo D.lgs 206/05.                                                                     <br>
                                                                                                                 <br>
11. PRIVACY                                                                                                      <br>
                                                                                                                 <br>
Il titolare dei trattamenti dei dati raccolti tramite cibour.com è CTI S.r.l. che dichiara e                     <br>
                                                                                                                 <br>
garantisce che i dati personali dei Clienti saranno trattati in conformità alle disposizioni di                  <br>
                                                                                                                 <br>
cui al D.Lgs. 196/03, e successive modifiche.                                                                    <br>
                                                                                                                 <br>
I responsabili del trattamento dei dati dei clienti sono i seguenti:                                             <br>
                                                                                                                 <br>
- Paypal, in quanto gestore dei sistemi di pagamento online;                                                     <br>
                                                                                                                 <br>
- GLS o altro corriere espresso che si occupa del trattamento dei dati necessari ad                              <br>
                                                                                                                 <br>
eseguire le attività di spedizione, consegna e restituzione dei prodotti acquistati su                           <br>
                                                                                                                 <br>
cibour.com.                                                                                                      <br>
                                                                                                                 <br>
12. ERRORI E/O INESATTEZZE SU CIBOUR.COM                                                                         <br>
                                                                                                                 <br>
12.1 CTI S.r.l. si impegna a verificare costantemente cibour.com al fine di evitare errori o                     <br>
                                                                                                                 <br>
inesattezze. Tuttavia, è possibile che cibour.com contenga o possa nel tempo contenere,                          <br>
                                                                                                                 <br>
errori, inesattezze o omissioni.                                                                                 <br>
                                                                                                                 <br>
12.2 CTI S.r.l. si riserva pertanto il diritto di correggere gli errori, le inesattezze o le                     <br>
                                                                                                                 <br>
omissioni contenute su cibour.com anche dopo che sia stato inviato un Ordine e altresì si                        <br>
                                                                                                                 <br>
riserva di cambiare o aggiornare le informazioni in qualsiasi momento senza preventiva                           <br>
                                                                                                                 <br>
comunicazione ai Clienti.                                                                                        <br>
                                                                                                                 <br>
13. PROPRIETÀ INTELLETTUALE                                                                                      <br>
                                                                                                                 <br>
Tutti i diritti di proprietà intellettuale connessi a cibour.com (compresi i contenuti) sono di                  <br>
                                                                                                                 <br>
titolarità esclusiva di CTI S.r.l. cibour.com e i suoi contenuti non possono essere riprodotti                   <br>
                                                                                                                 <br>
né integralmente né parzialmente, trasferiti con mezzi elettronici o convenzionali,                              <br>
                                                                                                                 <br>
modificati, collegati e utilizzati per qualsivoglia fine senza il previo consenso scritto di CTI                 <br>
                                                                                                                 <br>
S.r.l.                                                                                                           <br>
                                                                                                                 <br>
14. LEGGE APPLICABILE                                                                                            <br>
                                                                                                                 <br>
14.1 Le Condizioni Generali e i Contratti di Compravendita sono disciplinati dal diritto                         <br>
                                                                                                                 <br>
italiano (e in particolare dal Decreto Legislativo 206 del 06/09/2005 – che agli artt. da 50 a                   <br>
                                                                                                                 <br>
67 disciplina i contratti a distanza - e dal Decreto Legislativo 70 del 09/04/2003 in materia                    <br>
                                                                                                                 <br>
di commercio elettronico) e alla luce di questo devono essere interpretate.                                      <br>
                                                                                                                 <br>
14.2 Per qualsiasi controversia che possa sorgere in connessione alle Condizioni Generali                        <br>
                                                                                                                 <br>
e/o ai Contratti di Compravendita sarà competente in via esclusiva il foro di MILANO (MI),                       <br>
                                                                                                                 <br>
ove non diversamente disposto in forma imperativa dalla legge.                                                   <br>
                                                                                                                 <br>
15. CONTATTI                                                                                                     <br>
                                                                                                                 <br>
Per ulteriori informazioni e assistenza su cibour.com o sulle modalità di acquisto su                            <br>
                                                                                                                 <br>
cibour.com o sui Contratti di Compravendita, i Clienti possono contattare la sede                                <br>
                                                                                                                 <br>
commerciale di CTI S.r.l. ai seguenti recapiti:                                                                  <br>
                                                                                                                 <br>
Corso Porta Vittoria 18 - 20122 Milano                                                                           <br>
                                                                                                                 <br>
Telefono e Fax:+39 02 87392854                                                                                   <br>
                                                                                                                 <br>
Email: info@cibour.com                                                                                           <br>
    </div>